#categorynavi .loyal_customers {background: #296A52; height: 286px;}
#categorynavi .home  {background: #012A3C; height: 286px;}
#categorynavi .cosmetics {background: #6D160D; height: 286px;}
#categorynavi .fashion {background: #947F52; height: 286px;}
#categorynavi .gourmet {background: #946900; height: 286px;}
#categorynavi .electronics {background: #525252; height: 286px;}
#categorynavi .children {background: #0B565B; height: 286px;}
#categorynavi .books {background: #552F00; height: 286px;}
#categorynavi .sports {background: #464F00; height: 286px;}

/*
     FILE ARCHIVED ON 00:22:35 May 03, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:58:39 Feb 04, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 131.358
  exclusion.robots: 0.092
  exclusion.robots.policy: 0.084
  cdx.remote: 0.063
  esindex: 0.026
  LoadShardBlock: 99.628 (3)
  PetaboxLoader3.datanode: 128.435 (5)
  CDXLines.iter: 22.247 (3)
  load_resource: 287.844 (2)
  PetaboxLoader3.resolve: 93.205 (2)
*/