

/* Start:/local/templates/main/template_styles.css?1631881433130*/
.meta-tag-b {
    font-size: 15px;
    font-weight: 700;
    color: #868686;
    margin: 0;
    padding: 0;
    display: inline;
}
/* End */
/* /local/templates/main/template_styles.css?1631881433130 */
